<nav>
    <ul class="navbar">
      <li><a href="/">Home</a></li>
      <li><a href="collection">Collection/Inspo</a></li>
      <li><a href="about">About</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
  </nav>
  <div class="grid">
    <main>
      <h1>Beginnings</h1>
      <p>
        The idea of HIPS started not too long ago, though
        I've been interested in fashion and clothing long before
        that.  Dissatisfied with a vast majority of what's in the
        fashion market, I decided to start my own brand.
      </p>
      <p>
        Minimalism.  Versatility.  Post-apocalyptic.  Grunge.  These
        are some of the words I use to describe my brand, my focus.  It's
        much more than that, though.  I want to create pieces that may not
        turn heads or hit 10,000 likes on instagram, but for
        the wearer, there is something special.  They know that most other
        people won't notice, but that doesn't matter.  This special connection,
        they know, they are in.  Thus, Hidden In Plain Sight.
      </p>
      <h1>About Me</h1>
      <p>
        I am a 24 year old, struggling, Vietnamese American college student with too little time and
        too much ambition.  Some of the things I enjoy are anime/japanese
        culture, gaming, cooking, and sleeping.  My interests inspire me to create,
        and are evident in my design and philosophy choices.  I hope to be putting out
        pieces that live up to my vision, and ultimately make me happy.
        Thanks for coming along on this journey, enjoy your stay.
      </p>
      <h1>My Resume</h1>
      <p>
        <input type="button" value="Download Resume" class="btn" onclick="window.open('resume.pdf')">
      </p>
    </main>
    <aside>
      <h3>Inspiring Brands</h3>
      <ul>
        <li><a href="https://www.cavempt.com/" target="_blank">Cav Empt</a></li>
        <li><a href="http://www.julius-garden.jp/" target="_blank">Julius</a></li>
        <li><a href="https://acrnm.com/" target="_blank">Acronym</a></li>
        <li><a href="https://fearofgod.com/" target="_blank">Fear Of God</a></li>
        <li><a href="http://undercoverism.com/" target="_blank">Undercover</a></li>
        <li><a href="http://www.mastermindjapan.com/" target="_blank">Mastermind Japan</a></li>
        <li><a href="https://www.rickowens.eu/en/US" target="_blank">Rick Owens</a></li>
        <li><a href="https://www.instagram.com/marbles0da/?hl=en" target="_blank">Marble S0da</a></li>
      </ul>
      <h3>Inspiring Fits/Pics</h3>
      <ul>
        <li><a href="https://www.reddit.com/r/streetwear/comments/afh0sq/inspo_minimalbasic_inspo/" target="_blank">Minimal/Basic</a></li>
        <li><a href="https://www.reddit.com/r/streetwear/comments/9rqnf8/inspo_neutrals_inspo/" target="_blank">Neutrals</a></li>
        <li><a href="https://www.reddit.com/r/streetwear/comments/9o26i2/inspo_hype_basics_inspo_100_images/" target="_blank">Hype/Basic</a></li>
        <li><a href="https://www.reddit.com/r/streetwear/comments/9veofr/inspo_mostly_black_stuff_inspo_album/" target="_blank">Black</a></li>
        <li><a href="https://www.reddit.com/r/streetwear/comments/97xvo3/inspo_the_edgy_rick_owens_meets_techwear_meets/" target="_blank">Rick Owens/Techwear/Military</a></li>
        <li><a href="https://www.reddit.com/r/streetwear/comments/86x9ye/inspo_my_personal_inspo_album_ive_been_making/" target="_blank">Random</a></li>
        <li><a href="https://www.reddit.com/r/streetwear/comments/989rph/inspo_mini_mangaanime_inspo_album/" target="_blank">Manga/Anime</a></li>
        <li><a href="https://www.reddit.com/r/streetwear/comments/70fnk3/the_designer_utilitarian_punkgrunge_aesthetic/" target="_blank">Punk/Grunge Guide</a></li>
        <li><a href="https://www.reddit.com/r/streetwear/comments/784t9r/all_over_inspo_grunge_techwear_minimalistic_hype/" target="_blank">Mixed</a></li>
        <li><a href="https://www.reddit.com/r/streetwear/comments/7k9iny/heres_my_personal_inspo_album_been_compiling_this/" target="_blank">Punk/Grunge/Skater/Designer</a></li>
        <li><a href="https://www.reddit.com/r/streetwear/comments/6nl0yw/japanesecomfytechgrungecyberpunk_inspo_album/" target="_blank">*Japanese/Tech/Grunge*</a></li>
        <li><a href="https://www.reddit.com/r/streetwear/comments/3sb474/scenes_of_japan_and_korea_inspiration_album/" target="_blank">Scenes Of Japan/Korea</a></li>
        <li><a href="https://www.reddit.com/r/streetwear/comments/5jhqq6/my_mostly_asian_inspired_inspoalbum/" target="_blank">Asian</a></li>
        <li><a href="https://www.reddit.com/r/streetwear/comments/5vc6ma/outfit_w_details_in_comments/" target="_blank">thisistheodore</a></li>
        <li><a href="https://www.reddit.com/r/streetwear/comments/5tf7ds/inspo_a_year_of_streetwear_a_year_of_memories/" target="_blank">Streetwear Memories</a></li>
        <li><a href="https://www.reddit.com/r/streetwear/comments/5kzctt/my_friends_handmade_this_kimono_jacket_in_chicago/" target="_blank">Hidden S Rank</a></li>
        <li><a href="https://www.reddit.com/r/streetwear/comments/76d89q/wdywt_hoodie_with_advanced_cooling_and/" target="_blank">Oponn_</a></li>
        <li><a href="https://www.reddit.com/r/streetwear/comments/6uxe46/personal_inspo_album_japanese_influence/" target="_blank">Japanese Influence</a></li>
        <li><a href="https://www.reddit.com/r/streetwear/comments/44itm0/personal_inspo_album_lots_of_juliusrostreet_goth/" target="_blank">Julius/Rick Owens</a></li>
        <li><a href="https://www.reddit.com/r/streetwear/comments/7jt2gg/wdywt_darth_vader/" target="_blank">myfavoritecolorisblack</a></li>
      </ul>
    </aside>
  </div>