 <nav>
    <ul class="navbar">
      <li><a href="/">Home</a></li>
      <li><a href="collection">Collection/Inspo</a></li>
      <li><a href="about">About</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
  </nav>
  <div class="grid">
    <h1>Subscribe</h1>
    <p>Subscribe below to keep up-to-date with releases and other brand information.</p>
    <form action=" http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="get">
      <label for="emailData">
        <input type="email" name="email" id="email" placeholder="Enter email address...">
        <input type="submit" class="emailSubmit" id="emailSubmit">
      </label>
    </form>
  </div>