<div class="withBackground">
    <nav>
      <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="collection">Collection/Inspo</a></li>
        <li><a href="about">About</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </nav>
    <div class="typeAnim">
      <h1>
        <strong>H</strong>idden <strong>I</strong>n <strong>P</strong>lain <strong>S</strong>ight
      </h1>
    </div>
  </div>

  <div class="carousel">
    <button class="carouselButton carouselButtonLeft isHidden">
      <img src="back.svg">
    </button>
      <div class="carouselTrackContainer">
        <ul class="carouselTrack">
          <li class="carouselSlide currentSlide">
            <img class="carouselImage" src="oponnFit.jpg">
          </li>
          <li class="carouselSlide">
            <img class="carouselImage" src="secondFit.jpg">
          </li>
          <li class="carouselSlide">
            <img class="carouselImage" src="thirdFit.jpg">
          </li>
          <li class="carouselSlide">
            <img class="carouselImage" src="fourthFit.jpg">
          </li>
          <li class="carouselSlide">
            <img class="carouselImage" src="fifthFit.jpg">
          </li>
        </ul>
      </div>
    <button class="carouselButton carouselButtonRight">
      <img src="next.svg">
    </button>
    <div class="carouselNav">
      <button class="carouselIndicator currentSlide"></button>
      <button class="carouselIndicator"></button>
      <button class="carouselIndicator"></button>
      <button class="carouselIndicator"></button>
      <button class="carouselIndicator"></button>
    </div>
  </div>

  <footer>
      <h3>Sources</h3>
      <div class="codeSource">
        Code (Nav Bar and Image Carousel)
      </div>
      <a href="https://www.youtube.com/channel/UCJZv4d5rbIKd4QHMPkcABCw" class="codeLink" target="_blank">Kevin Powell</a>
      <div class="imageSource">
        Images
      </div>
      <div class="imageLink">
        <a href="https://www.instagram.com/oponn_/" target="_blank">@Oponn</a>
        <a href="https://www.reddit.com/r/streetwear/comments/6nl0yw/japanesecomfytechgrungecyberpunk_inspo_album/" target="_blank">Album</a>
        <a href="https://www.instagram.com/myfavoritecolorisblack/" target="_blank">@myfavoritecolorisblack</a>
      </div>
    </footer>
  <script src="/Public/carousel.js"></script>