@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

body {
  margin: 0;
  padding: 0;
  background-color: #f8f9f9;
}

*, *::before, *::after {
  box-sizing: border-box;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 8vh;
  justify-items: start;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  grid-column: 1 / 2;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li {
  margin-bottom: 0em;
  margin-left: 1.5em;
}

nav ul li a {
  color: #808a8c;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
}

nav ul li a::after {
  content: '';
  display: block;
  height: 5px;
  background: #305b63;
  bottom: -0.75em;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform ease-in-out 200ms;
}

nav ul li a:hover {
  color: #305b63;
}

nav ul li a:hover::after {
  transform: scale(1, 1);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1 {
  grid-column: 1 / 2;
  font-family: 'Open Sans', sans-serif;
  margin-left: 2vw;
  font-size: 2.5em;
  color: #344143;
  place-self: center stretch;
}

p {
  grid-column: 1/ 2;
  font-family: 'Roboto', sans-serif;
  margin-left: 2vw;
  font-size: 1.5em;
  color: #808a8c;
}

form {
  grid-column: 1 / 2;
  margin-left: 2vw;
}

.emailSubmit {
  background: transparent;
  color: #4980A8;
  border: 0.2rem solid #4980A8;
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.25rem 0.25rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2s;
}

.emailSubmit:hover {
  background-color: #4980A8;
  color: #f8f9f9;
}
